:root {
    --img__container--height: 350px;
    --img__header--height: 35px;
    --img__main--height: 280px;
    --img__footer--height: 35px;
    --img__aside--width:35px;
    --padding: 1rem;
}

* {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    margin: 0;
}

/* IMG CONTAINER */

.img__container {
    background-image: url('../img/12336.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: var(--img__container--height);
}

.img__header {
    align-items: center;
    background-color: rgb(70, 70, 70);
    display: flex;
    height: var(--img__header--height);
    justify-content:left;
    padding: var(--padding);
    opacity: 30%;
}

.img__main {
    align-items: stretch;
    display: flex;
    height: var(--img__main--height);
    justify-content: space-between;
    
}

.img__footer {
    align-items: center;
    background-color: rgb(70, 70, 70);
    display: flex;
    height: var(--img__footer--height);
    justify-content: center;
    padding: var(--padding);
    opacity: 30%;
}

.img__aside-left, .img__aside-right {
    display: flex;
    align-items: center;
    padding: var(--padding);
}

.img__aside-left:hover, .img__aside-right:hover {
    background-color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    padding: var(--padding);
    opacity: 30%;
}


/* SLIDER FOOTER -- DOT-DOT-DOT ... */

.slider__footer {
    padding: 1rem;
    text-align: center;
}
.slider__footer > span {
    padding: 0rem .5rem;
}


/* FONT CSS */

.activeDot {
    color: rgb(70, 70, 70);
}

.inactiveDot {
    color: rgb(160, 160, 160);
}

.fa-angle-double-right, .fa-angle-double-left {
    color: rgb(255, 255, 255);
}



