* {
    margin: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

body {
    color: rgb(70, 70, 70);
}

.img__container {
    background-image: url('../img/12336.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 350px;
}

.img__header {
    height: 10%;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content:left;
    
}
.img__footer {
    height: 10%;
}
.img__main {
    display: flex;
    width: 100%;
    height: 80%;
}
.img__aside-left, .img__aside-main, .img__aside-right, .img__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img__aside-right:hover, .img__aside-left:hover, .img__footer, .img__header {
    opacity: 50%;
    background-color: rgb(70, 70, 70);
}
.img__aside-left{
    width: 10%;
    padding-left: 2%;
}
.img__aside-right {
    width: 10%;
    padding-right: 2%;
    text-align: right;
}
.img__aside-main{
    width: 80%;
}

.fa {
    color: rgb(70, 70, 70);
}

.fa-angle-double-right, .fa-angle-double-left {
    color: rgb(255, 255, 255);
}

.inactive {
    color: rgb(160, 160, 160);
}

.slider__footer {
    padding: 1rem;
    text-align: center;
}
.slider__footer > span {
    padding: 0rem .5rem;
}